
/* cyrillic */
@font-face {
  font-family: 'UniviaPro';
  font-weight:100;
  font-display: swap;
  src: url(/html/Font/UniviaPro-ThinItalic.woff2) format('woff2');
}

/* cyrillic */
@font-face {
  font-family: 'UniviaPro';
  font-weight:200;
  font-display: swap;
  src: url(/html/Font/UniviaPro-UltraLight.woff2) format('woff2');
}


/* cyrillic */
@font-face {
  font-family: 'UniviaPro';
  font-weight:300;
  font-display: swap;
  src: url(/html/Font/UniviaPro-Light.woff2) format('woff2');
}

/* cyrillic */
@font-face {
  font-family: 'UniviaPro';
  font-weight:400;
  font-display: swap;
  src: url(/html/Font/UniviaPro-Book.woff2) format('woff2');
}

/* cyrillic */
@font-face {
  font-family: 'UniviaPro';
  font-weight:500;
  font-display: swap;
  src: url(/html/Font/UniviaPro-Regular.woff2) format('woff2');
}

/* cyrillic */
@font-face {
  font-family: 'UniviaPro';
  font-weight:600;
  font-display: swap;
  src: url(/html/Font/UniviaPro-Medium.woff2) format('woff2');
}



/* cyrillic */
@font-face {
  font-family: 'UniviaPro';
  font-weight:700;
  font-display: swap;
  src: url(/html/Font/UniviaPro-Bold.woff2) format('woff2');
}


/* cyrillic */
@font-face {
  font-family: 'UniviaPro';
  font-weight:800;
  font-display: swap;
  src: url(/html/Font/UniviaPro-Black.woff2) format('woff2');
}

/* cyrillic */
@font-face {
  font-family: 'UniviaPro';
  font-weight:800;
  font-display: swap;
  src: url(/html/Font/UniviaPro-Ultra.woff2) format('woff2');
}

/*-- Amsterdam font--*/

@font-face {
  font-family: "Amsterdam Four_ttf";
  src: url(/html/Font/07cb29fdcb073fff840edc6de2067b50.eot) format('embedded-opentype');
}
@font-face {
 font-family: "Amsterdam Four_ttf";
  src: url(/html/Font/07cb29fdcb073fff840edc6de2067b50.woff2) format('woff2');
}
@font-face {
  font-family: "Amsterdam Four_ttf";
  src: url(/html/Font/07cb29fdcb073fff840edc6de2067b50.woff) format('woff');
}


@font-face {
  font-family: "Amsterdam Four_ttf";
  src: url(/html/Font/07cb29fdcb073fff840edc6de2067b50.ttf) format('truetype');
}


/** Peachy Flightoe font **/

@font-face {
  font-family: "Peachy Flightoe";
  src: url(/html/Font/Peachy-Flightone-Script-BF65b9cf3d0ad4f.woff) format('woff');
}


@font-face {
  font-family: "Peachy Flightoe";
  src: url(/html/Font/Peachy-Flightoe-BF65b9cf3d064e5.woff) format('woff');
}


/** Trajan Pro font **/

@font-face {
  font-family: "TrajanPro-Regular";
  src: url(/html/Font/c07d5c6528b6cc0eac08afd7a3199657.woff2) format('woff2');
}


@font-face {
  font-family: "TrajanPro-Regular";
  src: url(/html/Font/c07d5c6528b6cc0eac08afd7a3199657.woff) format('woff');
}

